<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raingeval.booksmanager" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayBooksActivity"
            android:label="@string/title_activity_display_books"
            android:parentActivityName=".FilterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.FilterActivity" />
        </activity>
        <activity
            android:name=".AddBookActivity"
            android:label="@string/title_activity_add_book"
            android:parentActivityName=".AddBookChoiceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.Home" />
        </activity>
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.Home" />
        </activity>
        <activity
            android:name=".AddFilterActivity"
            android:label="@string/title_activity_add_filter"
            android:parentActivityName=".FilterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.FilterActivity" />
        </activity>
        <activity
            android:name=".DisplayFiltersActivity"
            android:label="@string/title_activity_display_filters"
            android:parentActivityName=".FilterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.FilterActivity" />
        </activity>
        <activity
            android:name=".AddBookChoiceActivity"
            android:label="@string/title_activity_add_book_choice"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.Home" />
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".AddBookChoiceActivity" >
            android:configChanges="orientation|keyboardHidden|screenSize"
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.AddBookChoiceActivity" />
        </activity>
        <activity
            android:name=".EditBookActivity"
            android:label="@string/title_activity_edit_book"
            android:parentActivityName=".DisplayBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.DisplayBooksActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".DisplayBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.raingeval.booksmanager.DisplayBooksActivity" />
        </activity>
    </application>

</manifest>
